body {
    background: url(https://www.zacbrownbandsanfrancisco.com/static2/background1);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    text-align: center;
    height: 500px;
    opacity: .7;
    
}

.line {
    background-color: black;
    width: 100%;
    height: 1px;
}

.button1 {
    float: left;
    margin-top: 325px;
    

}
.button2 {
    float: right;
    margin-top: 325px;
    
}
